body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 60px;
    width: auto;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    padding: 20px;
    margin-bottom: 60px;
}

p {
    text-align: justify;
}

table {
    width: 30%;
    border-collapse: collapse;
    background-color: #fff;
    justify-self: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #007bff;
    color: #fff;
}

figure {
    margin: 0;
    margin-top: 10px;
}

.tecnicas {
    display: flex;
    flex-wrap: wrap;
}
  
.tecnicas figure {
    float: left;
    margin: 10px;
    width: 45%;
}

figcaption {
    font-size: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.video {
    justify-self: center;
}
